# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# Pytest
.pytest_cache/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Logs
*.log